[Desktop Entry]
Exec=bash -c "\$HOME/.local/bin/send-to-kodi" -r HOSTNAME:PORT -u USERNAME:PASSWORD -d /tmp
Name=Send to Kodi
Type=Application
Comment=Play a video on Kodi
Icon=multimedia-video-player
Categories=Media;
