[Desktop Entry]
Exec=send-to-kodi.sh -r HOSTNAME:PORT -u USERNAME:PASSWORD
Name=Send to Kodi
Type=Application
Comment=Play a video on Kodi
Icon=multimedia-video-player
Categories=Media;
